/*RESET no documento*/
*{
    
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}

/*SECAO CABECALHO*/

.cor-padrao-fundo-empresa-01{
       /* background-color: yellow;*/
    width: 99.9%;
    margin: 0;
    padding: 0;

    

}

.container-img-texto{
    /*background-color: chartreuse;*/
    align-items: center;
    display: flex;
    margin: 2px 2px 2px 2px;
    width: 99.9%;
    
    
   
}


.img-trybe-portifolio-cabecalho-tamanho{
    /*background-color: chocolate;*/
    height: 200px;
    padding: 5px 5px;
    width: 800px;
    
   
}

.img-trybe-portifolio-cabecalho-tamanho:hover{
        
     padding: 15px 15px;
    

}

.personaliza-nome-portifolio{
    /*background-color: #500552;*/
    color: #036b52;
    font-size: 105px;
    font-family: 'Acme', sans-serif;
    font-weight: 1200px;
    letter-spacing: 15px;
    width: 80%;
    padding-bottom: 100px;
    text-align: center;
    

}

.personaliza-nome-portifolio:hover{

    color: #3d495c;
    font-size: 105px;
    font-family: 'Acme', sans-serif;
    font-weight: 900px;
    letter-spacing: 35px;
    padding-bottom: 100px;


}


.img-perfil{
    
    width: 190px;
    height: 180px;
    margin-left: 70px;
    border-radius: 50%;
    padding: 10px 10px;
    background-color: darkcyan;

}

.img-perfil:hover{
    
    border: solid 5px;
    border-radius: 50%;
    color: #036b52;
    height: 210px;
    padding: 10px 10px;
    width: 220px;
    
}

.texto-descricao-foto{
    
    
    color: #3d495c;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-left: 70px;

}

.texto-descricao-foto:hover{

    color: #036b52;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 40px;

}

/*SECAO 02(DOIS) SOBRE */

.dados-pessoais
{
display: flex;
margin: 1px 1px;
padding-left: 5px;
width: 100%;

}


.restante-dados-pessoais{
    /*background-color: violet;*/
    font-size: 20px;
    font-weight: 800;
    color:#3d495c;
    width: 50%;
   }

.student-developer{
    
    background-color: #036b52;
    color: #fff;
    font-size: 30px;
    line-height: 70px;
    /*Espaçamento entre palavras*/
    letter-spacing: 18.5px;
    padding: 5px 5px;
    width: 100%;
    
}


.estilizando-meu-nome{
    
    color: #036b52;
    font-size: 28px;
    font-family: 'Acme', sans-serif;
    font-weight: 900;
    /*Espaçamento entre palavras*/
    letter-spacing: 14px;
    line-height: 35px;
    margin-top: 10px;
   
}


.section-descriacao{

    color:#3d495c;
    font-size: 25px;
    font-family: 'Acme', sans-serif;
    height: 180x;
    letter-spacing: 4px;
    line-height:52px;
    text-align: justify;
    width: 95%;
    padding-left: 10px;
    
        
}



.destaque-de-texto-requisito-pedido{
    color: #036b52 ;
}




.lista-habilidades{

    color: #3d495c;
    /*Espaçamento entre palavras*/
    letter-spacing: 2px;
    
    width: 48%;
   }


.nomes-de-destaques{
    
    font-size: 35px;
    background-color: #fff;
    color:#023031;
    /*Espaçamento entre palavras*/
    letter-spacing: 18.5px;
    margin-bottom: 5px;
    padding: 5px 5px;
    
}

   .lista-habilidades-indetar-nomes{
    
    padding: 15px 15px;
       
   }


   .organizar-links{
    
    line-height: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Acme', sans-serif;

   }

.hiperlinks-internos-externo a{

    padding-top: 5px;
    padding-bottom: 5px;

}


/*SECAO 03 - LINKS INTERNOS E EXTERNOS*/


.container-links
{
    
    display: flex;
    margin: 1px 1px;
    padding: 10px 10px;
    list-style-type: none;
    line-height:20px;
    width: 100%;

}

.hiperlinks-internos-externo {

    /*Espaçamento entre palavras*/
    letter-spacing: 2px;
    
    padding-top: 25px;
    padding-bottom:10px ;
    width: 50%;

   }


   .container-sumario-links{
    
    width: 49%;
    padding: 15px 15px;
    line-height:35px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
    font-family: 'Acme', sans-serif;
    
   }

.sumario-links-internos{
    margin-left: 5px;
    
}

.assetividade{
    
    background-color:#036b52;
    color: #fff;
    font-size: 15px;
    /*tira os marcadores*/
    list-style-type: none;
    margin-bottom: 5px;
    margin-bottom: 5px;
    
}

.assetividade:hover{
    
    background-color:#3d495c;
    color: #fff;
    font-size: 15px;
    /*tira os marcadores*/
    list-style-type: none;
    margin-bottom: 5px;
    margin-bottom: 5px;
    letter-spacing: 40px;
    
}

.flexibilidade{
    
    font-size: 20px;
    /*tira os marcadores*/
    list-style-type: none;
}

.tomada-de-risco{

    background-color:#036b52;
    color: #fff;
    font-size: 25px;
    /*tira os marcadores*/
    list-style-type: none;
    margin-bottom: 5px;
    
}


.tomada-de-risco:hover{

    background-color:#3d495c;
    color: #fff;
    font-size: 25px;
    /*tira os marcadores*/
    list-style-type: none;
    margin-bottom: 5px;
    letter-spacing: 40px;
    
}

.reflexao{
    background-color:#036b52;
    color: #fff;
    font-size: 30px;
    /*tira os marcadores*/
    list-style-type: none;
    margin-bottom: 5px;
    
}


.reflexao:hover{
    background-color:#3d495c;
    color: #fff;
    font-size: 30px;
    /*tira os marcadores*/
    list-style-type: none;
    margin-bottom: 5px;
    letter-spacing: 40px;
    
}
.pensamento-conceitual{
    font-size: 35px;
    /*tira os marcadores*/
    list-style-type: none;

}

.pensamento-criativo{
    background-color:#036b52;
    color: #fff;
    font-size: 40px;
    /*tira os marcadores*/
    list-style-type: none;
    margin-bottom: 5px;
    
}

.pensamento-criativo:hover{
    background-color:#3d495c;
    color: #fff;
    font-size: 40px;
    /*tira os marcadores*/
    list-style-type: none;
    margin-bottom: 5px;
    letter-spacing: 25px;
    
}
.consideracao-pelos-outros{
    font-size: 45px;
    /*tira os marcadores*/
    list-style-type: none;
}
.sociabilidade{
    background-color:#036b52;
    color: #fff;
    font-size: 50px;
    /*tira os marcadores*/
    list-style-type: none;
    margin-bottom: 5px;
    
}
.sociabilidade:hover{
    background-color:#3d495c;
    color: #fff;
    font-size: 50px;
    /*tira os marcadores*/
    list-style-type: none;
    margin-bottom: 5px;
    letter-spacing: 40px;    
}
.estabilidade-emocional{
    background-color:#036b52;
    color: #fff;
    font-size: 55px;
    /*tira os marcadores*/
    list-style-type: none;
    margin-bottom: 5px;
    
}
.estabilidade-emocional:hover{
    background-color:#3d495c;
    color: #fff;
    font-size: 55px;
    /*tira os marcadores*/
    list-style-type: none;
    margin-bottom: 5px;
    letter-spacing: 5px;
}
.ambicao{
    font-size: 60px;
    /*tira os marcadores*/
    list-style-type: none;
}

/*SECAÇÃO 04 FOOTER- Barra Inferior*/


.container-footer{

    /*background-color:#023031 ;*/
    background-color: darkgrey;
    display: inline-block;
    margin-top: 40px;
    text-align: left;
    width: 100%;
    
}



.img-personaliza-dentro-container-footer-linkedin{

border-radius: 50%;
height: 50px;
margin-left: 1500px;
width: 50px;
}

.img-personaliza-dentro-container-footer-github{

height: 50px;
padding: 2px 2px 2px 2px;
width: 50px;

}

.img-personaliza-dentro-container-footer-instagram{


height: 50px;
padding: 2px 2px 2px 2px;
width: 50px;

}
.img-personaliza-dentro-container-footer-face{

    border-radius: 50%;
    margin-right: 30px;
    width: 50px;
    height: 50px;

}

.container-footer-img-trybe{

    background-color:#023031 ;
    display: inline-block;
    margin-top: 40px;
    text-align: right;
    width: 100%;
    
}


.img-personaliza-dentro-container-footer-trybe{

    height: 50px;
    padding: 2px 2px 2px 2px;
    width: 80px;
    
    
    }