
.style-main{
 display: flex;
 justify-content: center;
 align-items: center;   
 border: 3px solid #2fc18c;
 width: 200px;
 margin: 5px 5px 5px 5px ;
}
.style-main-interno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2fc18c;
    background-color: #036b52;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    width: 100%;

}

.style-peso-unidade{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:10px ;    
    /* width: 100%; */
}

.style-main-interno-img{
    width: 60%;
    background-color: #2fc18c;
    margin: 25px 25px 25px 25px;
}