
.p-familia{
    display: block;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray;
    background:burlywood;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

body{

display: block;
text-align: center;
}